*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:  rgba(255, 247, 240, 1);
    font-family: 'Plus Jakarta Sans', sans-serif;
    height: 100vh;
    text-align: center;
    align-items: center;
}
.page{
    padding: 16px 16px 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.consultation{
    color:  rgba(255, 247, 240, 1);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    background: rgba(3, 3, 3, 1);
    border-radius: 28px;
    width: 176px;
    height: 44px;
    border: none;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 46.36px;
    margin-top: 34px;
}
p{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color:  rgba(122, 116, 110, 1);
    margin-top: 16px;
}
.text{
    text-align: center;
}
.image{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
    align-items: center;
}
.secondimg{
    display: flex;
    gap: 25px;
}
.forthimg{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
}
.profile-info button{
    background:  rgba(235, 117, 101, 1);
    cursor: pointer;
}
.girl{
    margin-top: 100px;
}
h2{
    font-size: 26px;
    line-height: 32.76px;
    margin-top: 40px;
    margin-bottom: 24px;
}
.profile-info p{
    margin-bottom: 24px;
}
.slider img{
    width: 270px;
    height: 180px;
}
.slider-button button{
    width: 64px;
    height: 64px;
    background:  rgba(3, 3, 3, 1);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.slider-button button img{
    width: 16px;
    height: 16px;
}
.slider-button{
    text-align: center;
    align-items: center;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 18px;
}
h3{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30.24px;
    margin-top: 100px;
    margin-bottom: 32px;
}
.blackbox{
    background-color:  rgba(3, 3, 3, 1);
    width: 343px;
    height: 352px;
    border-radius: 10px;
    margin-top: 100px;
    padding: 9px 24px 49px 24px;
    margin-bottom: 42px;
}
.blackbox p{
    color:  rgba(255, 247, 240, 1);
}
.blackbox h2{
    color:  rgba(255, 247, 240, 1);
}
.blackbox button{
    background:  rgba(235, 117, 101, 1);
    margin-top: 24px;
    cursor: pointer;
}
.header button:hover{
    background: rgba(117, 92, 222, 1);
    cursor: pointer;
}
.slider-button button:hover{
    background: rgba(117, 92, 222, 1);
}
.blackbox button:hover{
    background: rgba(246, 165, 96, 1);
}
.profile-info button:hover{
    background: rgba(246, 165, 96, 1);
}
.images{
    display: flex;
    gap: 15px;
}
.secondimg{
    margin-bottom: 24px;
}

@media screen and (min-width:768px){
    .header img{
        width: 64px;
        height: 64px;
    }
    .footer img{
        width: 64px;
        height: 64px;
    }
    .consultation{
        width: 228px;
        height: 56px;
        font-size: 16px;
    }
    .header{
        max-width: 690px;
    }
    .footer{
        max-width: 690px;
    }
    h1{
        font-size: 44px;
        line-height: 55.44px;
        margin-bottom: 27px;
    }
    p{
        font-size: 18px;
        line-height: 28px;
    }
    .text{
        padding: 20px 40px 40px 40px;
    }
    .image{
       display: flex;
       flex-direction: row;
    }
    .profile-info h2{
        font-size: 32px;
        line-height: 40.32px;
        width: 340px;
    }
    .girl{
        display: flex;
        gap: 70px;
    }
    .profile-info{
        text-align: left;
    }
    .girl img{
        width: 364px;
        height: 364px;
        margin-left: -60px;
    }
    h3{
        font-size: 32px;
        line-height: 40.32px;
    }
    .blackbox{
        Width:690px;
        Height:352px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blackbox h2{
        font-size: 32px;
        line-height: 40.32px;
    }
    .blackbox p{
        width: 540px;
    }
    .forthimg{
        display: flex;
        flex-direction: row;
    }
}
@media screen and (min-width:1200px){
    h1{
        font-size: 56px;
        line-height: 70.56px;
    }
    .header{
        max-width: 1110px;
    }
    .firstimg img{
        width: 354px;
        height: 364px;
    }
    .image-group{
        display: flex;
        gap: 30px;
    }
    .forthimg{
        display: flex;
        flex-direction: column;
    }
    .secondimg img{
        width: 164px;
        height: 182px;
    }
    .illustr{
        height: 159px;
    }
    .photography{
       width: 307px;
    }
    .grapics{
        width: 307px;
    }
    .blackbox{
        width: 100%;
        max-width: 1110px;
    }
    .footer{
        margin-bottom: 68px;
        max-width: 1110px;
    }
    .book{
        display: flex;
        gap: 180px;
        align-items: center;
    }
    .blackbox-text{
        text-align: left;
    }
    .profile-info p{
        width: 540px;
    }
    .images img{
        width: 540px;
        height: 360px;
    }
    .images{
        gap: 30px;
    }
    .forthimg{
        margin-top: 36px;
    }


}